NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_APP_NAME=HopPhim
NEXT_PUBLIC_PHIM_API=https://phim.nguonc.com/api

# TMDB API key để lấy thông tin phim, score và casts
# Lấy tại: https://www.themoviedb.org/settings/api
NEXT_PUBLIC_TMDB_API_KEY=b32adb654e865c7bd05fd7c4406055f5
